/* TESTS FOR CORPORATIVE IMAGE */
/*

Esto es una tentativa de establecer una paleta de colores basada en los colores del
CREAF y del CTFC e uniformizar el estilo de las apps

This is a try to establish a color palette based on the main colors of CREAF and CTFC, and
uniformize the apps style

@import "ic_tests.css";

*/

.navbar-static-top {
  background-color: #001629 !important;
}

li.active > a {
  background-color: #2e645a;
}

.well {
  background-color: #448714;
  color: #f0f2f0;
}

body {
  background-color: #2e645a;
}

.btn {
  background-color: #76f7a7;
}


/*
Custom css for Allometr app
*/

input[type="number"] {
  max-width: 80%;
}

/*
div.table_container {
  overflow-y: scroll;
}
*/

/* debug */
#debug {
  z-index: 1500;
}

/* language selector */
.navbar-form {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* we need to change the leaflet layer control z-index */
.navbar-static-top {
  z-index: 2000 !important;
}

.navbar-form > .form-group {
  position: fixed;
  right: 25px;
}

.flag-lang {
  display: inline;
  vertical-align: middle;
  padding-left: 10px;
}

.flag-image {
  border-radius: 50%;
}

.shiny-output-error-drawed_polygon_warn {
  color: red;
}

/* trick to hide the spinner when the dygraph loads */
#trends_daily > div {
  background-color: white;
}

/* position of the modal */
div.modal-dialog {
  position: relative;
  top: 300px;
}
